* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff; }

html, body {
  overflow-x: hidden;
  height: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
    border-radius: 0; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

button {
  font-family: "Montserrat", sans-serif;
  outline: none;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }
  button:hover, button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

h1, h2, h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  width: 100%; }

h1 {
  font-size: 83px; }

h2 {
  font-size: 50px;
  text-align: center;
  margin: 0 auto 106px; }

h3 {
  font-size: 35px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: #151F2C; }

h4 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 100%;
  font-size: 26px; }

strong {
  display: inline;
  font-weight: bold; }

.title-line {
  background: rgba(67, 161, 246, 0.13);
  padding: 23px 0 24px;
  margin: 0 0 52px; }

.box-text {
  line-height: 35px;
  font-size: 25px; }
  .box-text p {
    margin: 0 0 50px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1570px;
  width: 100%; }

.w-100 {
  width: 100%; }

.col-3 {
  width: 33.3333%;
  padding: 0 20px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -20px; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: 500; }

.btn-accent {
  background: #43A1F6;
  color: #fff; }
  .btn-accent:hover {
    background: rgba(67, 161, 246, 0.13);
    color: #000; }

.btn-white {
  background: #fff;
  color: #000000; }
  .btn-white:hover {
    background: #B5E4FF;
    color: #000; }

.mb-40 {
  margin-bottom: 40px; }

header {
  position: relative;
  z-index: 2; }
  header .phone {
    margin: 0 188px 0 auto; }
  header .schedule {
    margin: 0 160px 0 0; }

.header-top {
  padding: 31px 0; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #151F2C;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 35px; }

.logo-icon {
  background: #C4C4C4;
  width: 71px;
  height: 71px;
  min-width: 71px;
  margin: 0 37px 0 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 auto; }
  .menu li {
    margin: 0 75px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #A2A2A2; }
      .menu li a:hover {
        color: #43A1F6; }

.header-bottom {
  background: #43A1F6;
  color: #fff;
  padding: 17px 0; }

.schedule {
  font-size: 20px;
  font-weight: bold; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold; }

.phone-icon {
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 22px;
  margin: 0 12px 0 0; }

.home {
  background: #F1F1F1;
  position: relative;
  padding: 177px 0 193px;
  z-index: 1; }
  .home:before {
    content: '';
    position: absolute;
    right: 0;
    top: -200px;
    width: 1211px;
    height: 1006px;
    background: url("../img/bg1.svg") no-repeat center;
      background-size: 100%;
    z-index: -1; }
  .home .btn {
    max-width: 360px; }

.main-content {
  max-width: 776px;
  width: 100%;
  position: relative;
  z-index: 1; }

.main-content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 74px 0 0; }
  .main-content__footer .phone {
    margin: 0 0 0 120px;
    color: #595959;
    font-size: 25px; }

.category-section {
  background: #43A1F6;
  margin: 56px 0 105px;
  position: relative;
  z-index: 2; }

.category-section__links {
  padding: 86px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-align: center; }
  .category-section__links:hover {
    background: #fff;
    color: #000; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0;
  width: 47px;
  height: 24px;
  background: url("../img/arrow-right.svg") no-repeat center;
    background-size: 100%;
  opacity: 1;
  z-index: 1;
  border: none;
    border-radius: 0;
  cursor: pointer; }

.slick-next {
  right: 0; }

.slick-prev {
  left: 0;
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg); }

.slick-disabled {
  opacity: 0;
  visibility: hidden; }

.diploma {
  position: relative; }

.decor {
  position: absolute; }

.decor1 {
  bottom: 352px;
  right: 0; }

.diploma-box {
  width: 100%;
  height: 468px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  z-index: 1;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 38px 15px 44px;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer; }
  .diploma-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .diploma-box__img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1; }
  .diploma-box__content {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    height: 100%; }
  .diploma-box h4 {
    margin: 0 auto 23px;
    font-family: "Montserrat Alternates", sans-serif; }
  .diploma-box .btn {
    max-width: 250px; }
  .diploma-box:hover:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30.21%, rgba(24, 87, 189, 0.63)), to(#000000));
    background: linear-gradient(180deg, rgba(24, 87, 189, 0.63) 30.21%, #000000 100%); }
  .diploma-box:hover .btn {
    background: #B5E4FF; }

.availability {
  font-size: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: 0 auto auto 50px; }
  .availability:before {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #03FFB3;
    margin: 0 12px 0 0; }

.under-the-order:before {
  background: #FF6D03; }

.price {
  margin: 40px auto 37px; }

.diploma1 .box-text {
  margin: 26px 0 27px; }

.diploma1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 53px;
  background: url("../img/decor1.svg") no-repeat center;
    background-size: 100%;
  width: 613px;
  height: 565px; }

.diploma1:after {
  content: '';
  position: absolute;
  top: 53px;
  right: -303px;
  width: 836px;
  height: 523px;
  background: url("../img/decor2.svg") no-repeat center;
    background-size: 100%; }

.diploma2:before, .diploma2:after {
  content: '';
  position: absolute; }

.diploma2:before {
  top: -29px;
  left: 0;
  background: url("../img/decor4.svg") no-repeat center;
    background-size: 100%;
  width: 277px;
  height: 548px; }

.diploma2:after {
  top: -113px;
  right: -43px;
  background: url("../img/decor5.svg") no-repeat center;
    background-size: 100%;
  width: 279px;
  height: 231px; }

.decor2 {
  left: -70px;
  top: 576px; }

.decor3 {
  bottom: 430px;
  right: -37px; }

.decor4 {
  right: -82px;
  bottom: -50px; }

.diploma3:before, .diploma3:after {
  content: '';
  position: absolute; }

.diploma3:before {
  left: 0;
  bottom: -120px;
  background: url("../img/decor9.svg") no-repeat center;
    background-size: 100%;
  width: 101px;
  height: 192px; }

.diploma3:after {
  right: 0;
  top: 308px;
  background: url("../img/decor3.svg") no-repeat center;
    background-size: 100%;
  width: 173px;
  height: 341px; }

.diploma3 .box-text {
  margin: 0 0 54px; }

.diploma4 {
  z-index: 1; }
  .diploma4:before, .diploma4:after {
    content: '';
    position: absolute;
    bottom: -45px; }
  .diploma4:before {
    left: 0;
    width: 613px;
    height: 565px;
    background: url("../img/decor1.svg") no-repeat center;
      background-size: 100%; }
  .diploma4:after {
    width: 836px;
    height: 523px;
    right: -202px;
    background: url("../img/decor2.svg") no-repeat center;
      background-size: 100%; }

.decor5 {
  top: 81px;
  right: 0; }

.decor6 {
  left: 0;
  top: -58px; }

.diploma6 {
  padding: 0 0 76px; }
  .diploma6:before, .diploma6:after {
    content: '';
    position: absolute; }
  .diploma6:before {
    width: 361px;
    height: 647px;
    left: 0;
    bottom: 0;
    background: url("../img/decor12.svg") no-repeat center;
      background-size: 100%; }
  .diploma6:after {
    bottom: 76px;
    width: 836px;
    height: 523px;
    right: -202px;
    background: url("../img/decor2.svg") no-repeat center;
      background-size: 100%; }

.box-text-border {
  position: relative;
  z-index: 1;
  border: 1px dashed #000000;
  padding: 24px 16px 24px 34px;
  margin: 0 0 42px; }
  .box-text-border p {
    margin: 0; }

.list-dots {
  list-style: disc;
  padding: 0 0 0 40px;
  margin: 0 0 50px;
  line-height: 35px;
  max-width: 654px;
  width: 100%; }

.diploma7 .box-text {
  margin: 26px 0 0; }

.diploma7:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 539px;
  background: url("../img/decor13.svg") no-repeat center;
    background-size: 100%;
  width: 134px;
  height: 171px; }

.diploma8:before, .diploma8:after {
  content: '';
  position: absolute; }

.diploma8:after {
  right: -59px;
  top: 452px;
  background: url("../img/decor8.svg") no-repeat center;
    background-size: 100%;
  width: 255px;
  height: 248px; }

.diploma8:before {
  left: -133px;
  top: 762px;
  width: 266px;
  height: 249px;
  background: url("../img/decor6.svg") no-repeat center;
    background-size: 100%; }

.diploma9:before, .diploma9:after {
  content: '';
  position: absolute; }

.diploma9:before {
  top: 513px;
  right: -32px;
  background: url("../img/decor14.svg") no-repeat center;
    background-size: 100%;
  width: 171px;
  height: 167px; }

.diploma9:after {
  bottom: -20px;
  right: -106px;
  background: url("../img/decor5.svg") no-repeat center;
    background-size: 100%;
  width: 279px;
  height: 231px; }

.diploma10:before {
  content: '';
  position: absolute;
  background: url("../img/decor14.svg") no-repeat center;
    background-size: 100%;
  width: 171px;
  height: 167px;
  top: 65px;
  left: -18px; }

.diploma11 {
  margin: 104px 0 0; }
  .diploma11:after, .diploma11:before {
    top: -92px; }

.decor7 {
  top: 33%;
  left: -29px; }

.decor8 {
  left: -18px;
  top: 48%; }

.decor9 {
  right: -95px;
  top: 38%; }

.decor10 {
  bottom: 17%;
  right: -131px; }

.decor11 {
  left: -96px;
  top: 48%; }

.decor12 {
  left: -39px;
  bottom: 40%; }

.decor13 {
  right: -37px;
  top: 40%; }

.decor14 {
  right: -24px;
  bottom: 45%; }

.diploma13:after, .diploma13:before {
  content: '';
  position: absolute; }

.diploma13:after {
  background: url("../img/decor8.svg") no-repeat center;
    background-size: 100%;
  width: 255px;
  height: 248px;
  right: -59px;
  top: -50px; }

.diploma13:before {
  top: -42px;
  left: -84px;
  background: url("../img/decor5.svg") no-repeat center;
    background-size: 100%;
  width: 279px;
  height: 231px; }

.diploma15:after {
  content: '';
  position: absolute;
  top: 108px;
  right: -80px;
  background: url("../img/decor7.svg") no-repeat center;
    background-size: 100%;
  width: 192px;
  height: 192px;
  z-index: -1; }

.diploma16 {
  margin: 30px 0 0; }
  .diploma16:after, .diploma16:before {
    content: '';
    position: absolute;
    width: 327px;
    height: 187px;
    background: url("../img/decor19.svg") no-repeat center;
      background-size: 100%;
    z-index: -1; }
  .diploma16:before {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    left: -117px;
    top: -20px; }
  .diploma16:after {
    right: -80px;
    top: 50%; }

.img-title {
  margin: 0 36px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px; }

.diploma17 {
  margin: 104px 0 0; }
  .diploma17:before, .diploma17:after {
    content: '';
    position: absolute;
    z-index: -1; }
  .diploma17:before {
    background: url("../img/decor4.svg") no-repeat center;
      background-size: 100%;
    width: 174px;
    height: 341px;
    top: -260px; }
  .diploma17:after {
    right: 0;
    top: 250px;
    background: url("../img/decor3.svg") no-repeat center;
      background-size: 100%;
    width: 174px;
    height: 341px; }

.decor15 {
  bottom: -20px;
  right: 0; }

.diploma18 {
  margin: 30px 0 0; }
  .diploma18:before, .diploma18:after {
    content: '';
    z-index: -1;
    position: absolute; }
  .diploma18:before {
    background: url("../img/decor20.svg") no-repeat center;
      background-size: 100%;
    width: 243px;
    height: 266px;
    left: -116px;
    top: 350px; }
  .diploma18:after {
    background: url("../img/decor8.svg") no-repeat center;
      background-size: 100%;
    width: 255px;
    height: 248px;
    top: 250px;
    right: -47px; }

.reviews:before, .reviews:after {
  top: -192px; }

.reviews h2 {
  margin: 0 auto 82px; }

.btn-reviews {
  width: 100%;
  padding: 15px 0;
  margin: 30px auto 0;
  background: rgba(67, 161, 246, 0.13); }
  .btn-reviews .btn {
    max-width: 361px;
    margin: 0 auto; }

.question {
  margin: 62px 0 0; }
  .question:before {
    content: '';
    position: absolute;
    background: url("../img/decor19.svg") no-repeat center;
      background-size: 100%;
    right: -132px;
    bottom: -90px;
    width: 327px;
    height: 187px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    z-index: -1; }

.specialists {
  padding: 34px 0 211px; }
  .specialists:before, .specialists:after {
    content: '';
    position: absolute;
    z-index: -1; }
  .specialists:before {
    background: url("../img/decor4.svg") no-repeat center;
      background-size: 100%;
    width: 174px;
    height: 341px;
    top: -30px; }
  .specialists:after {
    right: 0;
    top: 130px;
    background: url("../img/decor3.svg") no-repeat center;
      background-size: 100%;
    width: 174px;
    height: 341px; }
  .specialists ul {
    max-width: none; }

.decor16 {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  bottom: -370px;
  width: 100%; }

footer {
  position: relative;
  background: #EBEBEB;
  z-index: 2; }
  footer:before {
    content: '';
    position: absolute;
    top: 66px;
    left: 0;
    background: url("../img/decor21.svg") no-repeat center;
      background-size: 100%;
    width: 109px;
    height: 218px;
    z-index: 2; }
  footer .phone {
    color: #4D4D4D;
    margin: 0 0 25px;
    font-size: 25px;
    font-weight: bold; }

.address {
  max-width: 260px;
  color: #4D4D4D;
  font-size: 25px;
  font-weight: bold;
  padding: 0 0 0 45px; }

.payment-box {
  margin: 0 0 0 200px; }
  .payment-box h3 {
    font-size: 25px;
    font-weight: bold;
    color: #4D4D4D;
    margin: 0 0 25px;
    text-align: left; }

.list-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-pay li {
    background: #C4C4C4;
    width: 90px;
    height: 56px;
    margin: 0 12px 0 0; }
    .list-pay li:last-child {
      margin: 0; }

.map {
  width: 585px;
  height: 522px;
  margin: 0 -210px 0 0;
  background: #fff;
  padding: 0 0 0 20px; }
  .map iframe {
    width: 100%;
    height: 100%; }

.footer-wrapper {
  width: calc(100% - 388px); }

.footer-top {
  width: 100%;
  position: relative;
  padding: 44px 106px 44px 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-top:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: #F8F8F8;
    height: 100%;
    width: 2500px;
    z-index: -1; }

.footer-bottom {
  padding: 64px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.copyright {
  width: 100%;
  padding: 28px 0 40px;
  color: #868585;
  font-size: 20px;
  border-top: 1px solid #CECECE;
  margin: 88px 0 0; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
